# No ignorar flake.lock — pinia las dependencias exactas
# flake.lock

# Hardware config — específica de cada máquina, no se comparte
hardware-configuration.nix

# Salida de nix build (ISOs, derivaciones...)
result
result-*

# Archivos de editor
.direnv/
.envrc
*.swp
*~
